/**
 *   Basic page layout
 *   Header, navigation, main, footer
*/



/**
 *  Additions to the Bootstrap Grid
*/

@media only screen and (min-width: 768px) {

	.container {
		padding: 0 44px;
	}

	.container.full-width {
		padding: 0 22px;
	}

	.container.full-width > .row > [class*="col-"] {
		padding-left: 0;
		padding-right: 0;
	}

}









/**
 *  Columns having spacing and line underneath...
*/

@media only screen and (max-width: 991px) {

	.row.main > [class*="col-"] {
		padding-bottom: 48px; /* padding-bottom + */
		margin-bottom: 40px;  /* margin-bottom = 88 */
	}

	.row.alert-bar > [class*="col-"] {
		margin-bottom: 44px;
	}

	.row.main > [class*="col-"]:after {
		display: block;
		height: 1px;
		position: relative;
		top: 48px;            /* padding-bottom */
		content: "";
	}



	/*  ... except the last column of the last row...  */
	.row.main:last-of-type > [class*="col-"]:last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.row.main:last-of-type > [class*="col-"]:last-of-type:after {
		background: none;
	}

}



@media only screen and (max-width: 767px) {

	.row.main > [class*="col-"] {
		padding-bottom: 24px; /* padding-bottom + */
		margin-bottom: 20px;  /* margin-bottom = 44 */
	}

	.row.alert-bar > [class*="col-"] {
		margin-bottom: 22px;
	}

	.row.main > [class*="col-"]:after {
		top: 24px;            /* padding-bottom */
	}



	/*  ... and except the alert bar on larger screens.  */
	.row.alert-bar > [class*="col-"] {
		margin-bottom: 0;
	}

}









/**
 *  Rows having spacing and line underneath...
*/

@media only screen and (min-width: 992px) {

	.row.main {
		padding-bottom: 44px; /* padding-bottom + */
		margin-bottom: 44px;  /* margin-bottom = 88 */
	}

	.row.main:after {
		display: block;
		height: 1px;
		position: relative;
		top: 44px;            /* padding-bottom */
		margin: 0 22px;
		content: "";
	}



	/*  ... except the last row...  */
	.row.main:last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.row.main:last-of-type:after {
		background: none;
	}



	/*  ... and except the alert bar.  */
	.row.alert-bar {
		margin-bottom: 44px;
	}

}









/** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **\
|** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **|
|*                      HEADER                       *|
|** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **|
\** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/



/**
 * Header general
*/

#header {
	padding-top: 55px;
	position: relative;
	background-color: white;
}



@media only screen and (min-width: 992px) {

	#header {
		min-height: 100px;
		background-color: transparent;
	}

	#header nav li {
		float: left;
	}

	#header a {
		display: block;
	}

}









/**
 * Logo
*/

#logo {
	position: absolute;
	top: 7px;
	left: 11px;
}

#logo img {
	height: 40px;
}



@media only screen and (min-width: 992px) {

	#logo {
		top: 34px;
		left: 0;
	}

	#logo img {
		height: 64px;
	}

}









/**
 *  Quick menus for readers
 *  Mobile menus toggles
*/

#skip {
	position: absolute;
	top: 10px;
	right: 11px;
}

#skip ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#skip li {
	float: left;
	margin-left: 5px;
}

#skip a {
	display: block;
	min-width: 36px;
	height: 36px;
	overflow: hidden;
	line-height: 36px;
}



/* Always visually hide link to content */
#show-content {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

/*#show-search {}*/

/*#show-nav {}*/



@media only screen and (min-width: 992px) {

	#skip {
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
	}

}









/**
 *  Navigation
*/

#navigation {
	display: none;
	padding: 15px 22px;
}

/* Show main navigation if javascript is disabled */
.no-js #navigation {
	display: block;
}



@media only screen and (min-width: 992px) {

	#navigation {
		display: block;
		padding: 0;
		background-color: transparent !important;
	}

}









/**
 *  Channels
*/

/* Channels mobile, markup is generated by javascript */
#channels {
	display: none;
}

#channels-mobile {
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}

#channels-mobile > * {
	width: 100%;
	max-width: 100%;
}



@media only screen and (min-width: 992px) {

	#channels-mobile {
		display: none;
	}

	#channels {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	#channels a {
		padding: 0 15px;
		font-size: 0.8125em; /* 13/16 */
		line-height: 1.76923076923077; /* 23/13 */
	}

}









/**
 *  Main menu
*/

#menu {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid;
}

#menu a {
	display: block;
	padding: 0 15px;
	margin: 0 -15px;
	font-size: 1.125em; /* 18/16 */
	line-height: 2.11111111111111; /* 38/18 */
}



@media only screen and (min-width: 992px) {

	#menu {
		padding-top: 5px;
		padding-bottom: 0;
		overflow: hidden;
		margin-top: 55px;
		margin-bottom: 0;
		border-bottom: 0;
	}

	#menu ul {
		margin: 0;
	}

	#menu li {
		padding: 0 4px 0 5px;
		position: relative;
	}



	/* Span menu, based on the amount of items */
	#menu .col-1 li {
		width: 100%;
	}
	#menu .col-2 li {
		width: 50%;
	}
	#menu .col-3 li {
		width: 33.33333333333333%;
	}
	#menu .col-4 li {
		width: 25%;
	}
	#menu li, /* default */
	#menu .col-5 li {
		width: 20%;
	}
	#menu .col-6 li {
		width: 16.66666666666667%;
	}
	#menu .col-7 li {
		width: 14.28571428571429%;
	}
	#menu .col-8 li {
		width: 12.5%;
	}
	#menu .col-9 li {
		width: 11.11111111111111%;
	}
	#menu .col-10 li {
		width: 10%;
	}



	/* Line between items */
	#menu li:before {
		width: 1px;
		height: 30px;
		position: absolute;
		left: 0;
		bottom: 10px;
		content: "";
	}

	/* .no-touch: iPad requires double tap when using
	 * li:hover (and :before/:after)
	 * http://www.nczonline.net/blog/2012/07/05/ios-has-a-hover-problem/
	*/
	.no-touch #menu li:hover:before,
	#menu li.active:before {
		left: auto;
		right: -1px;
		z-index: 1;
	}



	#menu a {
		padding: 0;
		margin: 0;
		font-size: 1em;
		line-height: 45px;
		text-align: center;
	}

	#menu li.active a {
		background-color: white;
	}

}









/**
 *  Meta
*/

#meta {
	text-align: center;
}

#meta li {
	display: inline-block;
	padding: 0 10px;
}

#meta a {
	font-size: 0.875em; /* 14/16 */
	line-height: 2; /* 28/14 */
}



@media only screen and (min-width: 992px) {

	#meta {
		position: absolute;
		top: 18px;
		right: 0;
	}

	#meta li:last-child {
		padding-right: 0;
	}

}









/**
 *  Search
 *  See search.css for Google Custom Search Engine
*/

#search {
	display: none;
	padding: 10px 20px 20px;
}

/* Hide Google CSE's [x] */
#search td.gsc-clear-button {
	display: none;
}



@media only screen and (min-width: 992px) {

	#search {
		display: block;
		width: 310px;
		padding: 0;
		position: absolute;
		top: 57px;
		right: 0;
	}

}









/** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **\
|** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **|
|*                      CONTENT                      *|
|** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **|
\** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/



/**
 *  Top (carousel/visual)
*/

#top {
	min-height: 1px;
}



@media only screen and (max-width: 991px) {

	#top img {
		border-radius: 0;
	}

}



@media only screen and (min-width: 992px) {

	#top {
		background-color: white !important; /* Same as #main */
	}

}









/**
 *  Main wrapper
*/

#main {
	padding-top: 22px;
	padding-bottom: 22px;
	background-color: white;
}



@media only screen and (min-width: 768px) {

	#main {
		padding-top: 44px;
		padding-bottom: 44px;
	}

}









/**
 *  Main content
*/

.main-content {
	min-height: 400px;
}

.main-content > header {
	margin-bottom: 1.3125em; /* 21/16 */
}



.content > * {
	margin-top: 0;
	margin-bottom: 1.5em;   /* 24/16 */
}

.content > *:last-child {
	margin-bottom: 0;
}

.content > h2 {
	margin-top: 1.5em;      /* 42/28 */
	margin-bottom: 0.75em;  /* 21/28 */
}

.content > h3 {
	margin-top: 1.75em;     /* 42/24 */
	margin-bottom: 0.875em; /* 21/24 */
}

.content > h4 {
	margin-top: 1.5em;      /* 24/16 */
	margin-bottom: 1em;     /* 16/16 */
}

.content ul,
.content ol {
	padding-left: 18px;
}

.content ul ul,
.content ol ol {
	margin-top: 5px;
}

.content li {
	margin-bottom: 5px;
}



/* a.button is inline block, so no collapsing margins */
.content > a.button {
	margin-bottom: 0;
}



/*  Highlight / well  */
.well {
	padding: 25px 30px;
	margin: 0 0 1.5em 0;
}









/** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **\
|** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **|
|*                      FOOTER                       *|
|** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **|
\** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/



/**
 *  Footer general
*/

#footer {
	padding: 22px 44px;
}



@media only screen and (min-width: 992px) {

	#footer {
		padding: 28px 22px 44px;
	}

}









/**
 *  Footer top
*/

#footer-top {
	padding-bottom: 22px;
}

#footer-top h6 {
	margin-bottom: 0;
	font-size: 1em; /* 16/16 */
	line-height: 2.25; /* 36/16 */
}

#footer-top a {
	font-size: 0.875em; /* 14/16 */
	line-height: 2em; /* 28/14 */
}

#footer-top ul {
	margin: 3px 0;
}



/*  Collapsible lists in footer  */
@media only screen and (max-width: 991px) {

	#footer-top .panel {
		max-width: 320px;
		margin: auto;
	}

	#footer-top h6 {
		padding: 0 25px 0 15px;
		position: relative;
		margin: 0 -15px;
		cursor: pointer;
	}

	#footer-top h6:after {
		position: absolute;
		right: 15px;
	}

	#footer-top a {
		display: block;
	}

}



@media only screen and (min-width: 992px) {

	/* Override Bootstrap */
	#footer-top .collapse {
		display: block !important;
		height: auto !important;
	}



	#footer-top h6 {
		line-height: 1.625; /* 26/16 */
	}

	#footer-top ul {
		margin: 5px 0 0;
	}

}









/**
 *  Footer bottom
*/

#footer-bottom {
	padding: 20px 0 0 0;
	font-size: 0.75em; /* 12/16 */
	border-top: 1px solid;
}



#footerlinks,
#footerlegal {
	text-align: center;
}

#footerlinks li {
	display: inline-block;
}

#footerlinks li,
#footerlegal {
	padding: 0 10px;
}



@media only screen and (min-width: 768px) {

	#footer-bottom {
		font-size: 0.8125em; /* 13/16 */
	}



	#footerlinks,
	#footerlinks li {
		float: left;
	}

	#footerlinks li:not(:first-child) {
		border-left: 1px solid;
	}

	#footerlinks li:first-child {
		padding-left: 0;
	}



	#footerlegal {
		padding: 0;
		float: right;
	}

}









/** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **\
|** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **|
|*                   SPECIFIC PAGES                  *|
|** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **|
\** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/



/**
 *  T02 Subhome
 *  subnavigation partially restructered by javascript
*/

.subhome-page ul.level-1 .subnav > h3 {
	margin-bottom: 22px;
}



.no-js .subhome-page ul.level-1 {
	margin: 0 20px 33px;
}

.no-js .subhome-page ul.level-1 .subnav > a {
	display: inline-block;
	margin-top: 1.5em;
	margin-bottom: 22px;
	font-size: 1.50em;
	font-weight: 300;
	line-height: 1;
	cursor: default;
}

.no-js .subhome-page ul.level-1 .subnav > a:hover,
.no-js .subhome-page ul.level-1 .subnav > a:focus {
	color: inherit;
}









/**
 *  Same spacing and line on subnav on the sub-home page
*/

@media only screen and (max-width: 767px) {

	.subhome-page .subnav [class*="col-"] {
		padding-bottom: 24px; /* padding-bottom + */
		margin-bottom: 20px;  /* margin-bottom = 44 */
	}

	.subhome-page .subnav [class*="col-"]:after {
		display: block;
		height: 1px;
		position: relative;
		top: 24px;            /* -padding-bottom */
		content: "";
	}

}



@media only screen and (min-width: 768px) and (max-width: 991px) {

	.subhome-page > .row.main:first-of-type {
		padding-bottom: 48px; /* padding-bottom + */
		margin-bottom: 40px;  /* margin-bottom = 88 */
	}

	.subhome-page > .row.main:first-of-type:after {
		display: block;
		height: 1px;
		position: relative;
		top: 48px;            /* -padding-bottom */
		margin: 0 22px;
		content: "";
	}

}









/**
 *  T02 Subhome & T11 Actiepagina
*/

@media only screen and (min-width: 992px) {

	/* section.main-content overlapping top-visual */
	.subhome-page,
	.action-page {
		min-width: 774px; /* 22+730+22 */
		padding: 44px 44px 0;
		float: none;
		margin-top: -144px;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
	}



	.subhome-page .row.main,
	.action-page .row.main {
		padding-bottom: 33px;
		margin-bottom: 33px;
	}

	.subhome-page .row.main:after,
	.action-page .row.main:after {
		top: 33px;
	}

	.subhome-page .row.main:last-child,
	.action-page .row.main:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}

}








